body{
    background-color: #222831;
    color: white;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

nav{
    padding: 10px 50px 0px 50px;
    background-color: #181C14;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    right: 0;
    top: 0;
}

.profile{
    display: flex;
    flex-direction: row;
}

.picture{
    height: 40px;
    width: 40px;
    border: 2px solid #FFD369;
    border-radius: 22px;
    margin-right: 20px;
}

.about-me-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards-container{
    justify-content: left;
}

.card{
    width: 50%;
    border: 2px solid red;
}


.landing{
    background-image: url("/static/images/andrew-kliatskyi-unsplash.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.tabs{
    display: flex;
    flex-direction: row;
}

.tab{
    list-style-type: none;
    justify-content: space-between;
    margin-right: 50px;
    background: black;
    transition: background 0.3s ease;
}

.tab:hover{
    background: linear-gradient(to bottom,
                                black 90%, /* First color for the bottom 20% */
                                #ffbd1d 10%);
    color: #ffbd1d;
}

.mode_switch{
    display: flex;
    flex-direction: row;
    border-radius: 35px;
    width: 70px;
    justify-content:center;
    height: 35px;
    border: solid 2px white;
    transition: border-color 0.3s ease;
}

.mode_switch:hover{
    border-color: #ffbd1d;
}


.day{
    background: transparent;
    align-content: center;
    font-size: 16px;
}

li{
    padding-inline: 20px;
}

button{
    color: white;
    background-color: #FFD369;
    width: 180px;
    height: 70px;
    border-radius: 5px;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    border: 0px;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #ffbd1d;
}

.bottom-rec{
    width: 100%;
    height: 10%;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    background-color: #FFD369;
}