<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/whatsapp-chat-widget/dist/whatsapp-chat-widget.min.js"></script>
<script>
    WhatsAppChatWidget.init({
        phone: '1234567890', // Your WhatsApp number
        popupMessage: 'Hi! How can I help you?',
        showPopup: true,
        position: 'right', // or 'left'
    });
</script>

    <script src="{{url_for('static', filename='app.js')}}"></script>
    <meta charset="UTF-8">
    <title>Clement's Portfolio</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div class="profile">
        <div class="picture"></div>
        <div>
            <p>Clement Guibaud</p>
        </div>
    </div>
    <div class="tabs">
        <div class="tab">
            <a href="#about_me"><p>About me</p></a>
        </div>
        <div class="tab">
            <a href="#projects"><p>Projects</p></a>
        </div>
        <div class="tab">
            <a href="#contact"><p>Contact</p></a>
        </div>
        <div class="mode_switch">
            <div class="day">
                <div>
                    <img class= 'icons' src='/static/images/sun.png'>
                </div>
                <div>
                    <img class= 'icons' src='static/images/night-mode (1).png'>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="landing">
    <h1>Hey, I'm Clement</h1>
    <h2>I build products and solutions in python and run projects as a Product Manager.</h2>
    <a href="#about_me"><button>About me</button></a>
</div>
<div class="container" id="about_me">
    <h2>About me</h2>
    <h3>x projects created around python bla bla. y projects ran as a PM at auto1 Group.</h3>
    <div class="about-me-container">
        <div class="card">
            <p>Get to know me!</p>
            <p>Double background between business and tech. I have a master degree in Digital Marketing and certified
            Ruby on Rails and Python developer. I love tech topics</p>

        </div>
        <div class="card">
            <p>My toolkit</p>
            <p>Python</p>
            <p>Django</p>
            <p>Flask</p>
            <p>Ruby</p>
            <p>Rails</p>
            <p>SQL</p>
            <p>CSS</p>
            <p>HTML</p>
            <p>Javascript</p>
        </div>
    </div>

    <h2 id="projects">Projects</h2>
    <div class="cards-container">
        <div class="card">
            <p>Tic Tac Toe</p>
            <p>Python Scripting</p>
            <p>Icon Python</p>
        </div>
        <div class="card">
            <p>Time management tool</p>
            <p>Framework: Django</p>
            <p>Icon Django</p>
        </div>
        <div class="card">
            <p>Malicious email app</p>
            <p>Framework: Django</p>
            <p>Icon Django</p>
        </div>
        <div class="card">
            <p>HTTP Requests and APIs</p>
            <p>Framework: Flask</p>
            <p>Icon Flask</p>
        </div>
        <h2 id="contact" >Contact me</h2>
        <!-- # add to some validation when successfully sent -->
        <form action="" method="post">
            <label for="name">Email:</label><br>
            <input type="text" id="email" name="email" required><br>
            <label for="title">Subject:</label><br>
            <input type="text" id="title" name="title" required><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" required></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <footer>
        <p>Clement Guibaud</p>
        <p>Design inspired by myself</p>
        <p>Social media links</p>
    </footer>
</div>
</body>
</html>